# Task 1

### 1) Write a program to get the data type of a data

In [3]:
x={"the",1,"she",2,"he"}

type(x)

set

In [8]:
x={"girls":5,"boys":10}
type(x)

dict

### 2) Write a program to convert a integer data type to float data type

In [11]:
x=38
y=float(x)
y

38.0

In [12]:
type(y)

float

### 3) Write a program to convert a integer data type to float data type and vice versa

In [15]:
x=25
y=float(x)
type(y)

float

In [17]:
x=25.4
y=int(x)
type(y)

int

### 4) Write a programme to get the actual location of the data

In [18]:
x=10
id(x)

2732743748176

### 5) Give an example of implict conversion and explict conversion

In [24]:
x=23
y=26.9
c=2+6j
z=x+y+c

In [25]:
z

(51.9+6j)

In [27]:
complex(z)

(51.9+6j)

In [28]:
x=29
y=1
z=x+y

In [29]:
z

30

In [30]:
float(z)

30.0

### 6) Write a programme to prove that python is a case senstive language

In [56]:
var1=_abcdefgh
var2=Abcd
print(var1)

NameError: name '_abcdefgh' is not defined

### 7) Write a programme to get a syntax error

In [31]:
x=1 x=2

SyntaxError: invalid syntax (685912549.py, line 1)

### 8) Write a programme to get a type error

In [39]:
a=9
b="l"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### 9) Give an example of mulitple statement in a single line

In [40]:
x=1
y=6
print(x+y);print(x-y)

7
-5

### 10) Give an example of single line statement in multiple line

In [41]:
x=5
y=8
x\
+\
y

13